In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
from sklearn.metrics import classification_report

In [3]:
from sklearn.metrics import confusion_matrix

In [4]:
from sklearn.model_selection import train_test_split

In [40]:
df=pd.read_csv('kyphosis.csv')

In [41]:
df.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [52]:
X=df.drop('Kyphosis',axis=1)

In [53]:
X.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [54]:
y=df['Kyphosis']

In [55]:
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

In [56]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)

In [21]:
#decision tree classifier

In [22]:
Dtree= DecisionTreeClassifier()

In [23]:
Dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [24]:
Dtree_predictions=Dtree.predict(X_test)

In [25]:
Dtree_predictions

array(['absent', 'present', 'present', 'absent', 'absent', 'absent',
       'absent', 'present', 'absent', 'absent', 'absent', 'absent',
       'present', 'present', 'present', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'absent', 'present', 'absent',
       'absent'], dtype=object)

In [28]:
print(classification_report(y_test,Dtree_predictions))

              precision    recall  f1-score   support

      absent       0.67      0.71      0.69        17
     present       0.29      0.25      0.27         8

   micro avg       0.56      0.56      0.56        25
   macro avg       0.48      0.48      0.48        25
weighted avg       0.54      0.56      0.55        25

In [30]:
#randomforest

In [31]:
Random_forest=RandomForestClassifier()

In [32]:
Random_forest.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [33]:
RandomForest_predictions=Random_forest.predict(X_test)

In [34]:
print(classification_report(y_test,RandomForest_predictions))

              precision    recall  f1-score   support

      absent       0.74      1.00      0.85        17
     present       1.00      0.25      0.40         8

   micro avg       0.76      0.76      0.76        25
   macro avg       0.87      0.62      0.62        25
weighted avg       0.82      0.76      0.71        25

In [35]:
#performing on different dataset

In [39]:
df2=pd.read_csv('College.csv')

In [42]:
df2.info

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
5,Albertson College,Yes,587,479,158,38,62,678,41,13500,3335,500,675,67,73,9.4,11,9727,55
6,Albertus Magnus College,Yes,353,340,103,17,45,416,230,13290,5720,500,1500,90,93,11.5,26,8861,63
7,Albion College,Yes,1899,1720,489,37,68,1594,32,13868,4826,450,850,89,100,13.7,37,11487,73
8,Albright College,Yes,1038,839,227,30,63,973,306,15595,4400,300,500,79,84,11.3,23,11644,80
9,Alderson-Broaddus College,Yes,582,498,172,21,44,799,78,10468,3380,660,1800,40,41,11.5,15,8991,52
10,Alfred University,Yes,1732,1425,472,37,75,1830,110,16548,5406,500,600,82,88,11.3,31,10932,73
11,Allegheny College,Yes,2652,1900,484,44,77,1707,44,17080,4440,400,600,73,91,9.9,41,11711,76
12,Allentown Coll. of St. Francis de Sales,Yes,1179,780,290,38,64,1130,638,9690,4785,600,1000,60,84,13.3,21,7940,74
13,Alma College,Yes,1267,1080,385,44,73,1306,28,12572,4552,400,400,79,87,15.3,32,9305,68
14,Alverno College,Yes,494,313,157,23,46,1317,1235,8352,3640,650,2449,36,69,11.1,26,8127,55
15,American International College,Yes,1420,1093,220,9,22,1018,287,8700,4780,450,1400,78,84,14.7,19,7355,69
16,Amherst College,Yes,4302,992,418,83,96,1593,5,19760,5300,660,1598,93,98,8.4,63,21424,100
17,Anderson University,Yes,1216,908,423,19,40,1819,281,10100,3520,550,1100,48,61,12.1,14,7994,59
18,Andrews University,Yes,1130,704,322,14,23,1586,326,9996,3090,900,1320,62,66,11.5,18,10908,46
19,Angelo State University,No,3540,2001,1016,24,54,4190,1512,5130,3592,500,2000,60,62,23.1,5,4010,34
20,Antioch University,Yes,713,661,252,25,44,712,23,15476,3336,400,1100,69,82,11.3,35,42926,48
21,Appalachian State University,No,7313,4664,1910,20,63,9940,1035,6806,2540,96,2000,83,96,18.3,14,5854,70
22,Aquinas College,Yes,619,516,219,20,51,1251,767,11208,4124,350,1615,55,65,12.7,25,6584,65
23,Arizona State University Main campus,No,12809,10308,3761,24,49,22593,7585,7434,4850,700,2100,88,93,18.9,5,4602,48
24,Arkansas College (Lyon College),Yes,708,334,166,46,74,530,182,8644,3922,500,800,79,88,12.6,24,14579,54
25,Arkansas Tech University,No,1734,1729,951,12,52,3602,939,3460,2650,450,1000,57,60,19.6,5,4739,48
26,Assumption College,Yes,2135,1700,491,23,59,1708,689,12000,5920,500,500,93,93,13.8,30,7100,88
27,Auburn University-Main Campus,No,7548,6791,3070,25,57,16262,1716,6300,3933,600,1908,85,91,16.7,18,6642,69
28,Augsburg College,Yes,662,513,257,12,30,2074,726,11902,4372,540,950,65,65,12.8,31,7836,58
29,Augustana College IL,Yes,1879,1658,497,36,69,1950,38,13353,4173,540,821,78,83,12.7,40,9220,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,Westfield State College,No,3100,2150,825,3,20,3234,941,5542,3788,500,1300,75,79,15.7,20,4222,65
748,Westminster College MO,Yes,662,553,184,20,43,665,37,10720,4050,600,1650,66,70,12.5,20,7925,62
749,Westminster College,Yes,996,866,377,29,58,1411,72,12065,3615,430,685,62,78,12.5,41,8596,80
750,Westminster College of Salt Lake City,Yes,917,720,213,21,60,979,743,8820,4050,600,2025,68,83,10.5,34,7170,50
751,Westmont College,No,950,713,351,42,72,1276,9,14320,5304,490,1410,77,77,14.9,17,8837,87
752,Wheaton College IL,Yes,1432,920,548,56,84,2200,56,11480,4200,530,1400,81,83,12.7,40,11916,85
753,Westminster College PA,Yes,1738,1373,417,21,55,1335,30,18460,5970,700,850,92,96,13.2,41,22704,71
754,Wheeling Jesuit College,Yes,903,755,213,15,49,971,305,10500,4545,600,600,66,71,14.1,27,7494,72
755,Whitman College,Yes,1861,998,359,45,77,1220,46,16670,4900,750,800,80,83,10.5,51,13198,72
756,Whittier College,Yes,1681,1069,344,35,63,1235,30,16249,5699,500,1998,84,92,13.6,29,11778,52
757,Whitworth College,Yes,1121,926,372,43,70,1270,160,12660,4500,678,2424,80,80,16.9,20,8328,80
758,Widener University,Yes,2139,1492,502,24,64,2186,2171,12350,5370,500,1350,88,86,12.6,19,9603,63
759,Wilkes University,Yes,1631,1431,434,15,36,1803,603,11150,5130,550,1260,78,92,13.3,24,8543,67
760,Willamette University,Yes,1658,1327,395,49,80,1595,159,14800,4620,400,790,91,94,13.3,37,10779,68
761,William Jewell College,Yes,663,547,315,32,67,1279,75,10060,2970,500,2600,74,80,11.2,19,7885,59
762,William Woods University,Yes,469,435,227,17,39,851,120,10535,4365,550,3700,39,66,12.9,16,7438,52
763,Williams College,Yes,4186,1245,526,81,96,1988,29,19629,5790,500,1200,94,99,9.0,64,22014,99
764,Wilson College,Yes,167,130,46,16,50,199,676,11428,5084,450,475,67,76,8.3,43,10291,67
765,Wingate College,Yes,1239,1017,383,10,34,1207,157,7820,3400,550,1550,69,81,13.9,8,7264,91
766,Winona State University,No,3325,2047,1301,20,45,5800,872,4200,2700,300,1200,53,60,20.2,18,5318,58
767,Winthrop University,No,2320,1805,769,24,61,3395,670,6400,3392,580,2150,71,80,12.8,26,6729,59
768,Wisconsin Lutheran College,Yes,152,128,75,17,41,282,22,9100,3700,500,1400,48,48,8.5,26,8960,50
769,Wittenberg University,Yes,1979,1739,575,42,68,1980,144,15948,4404,400,800,82,95,12.8,29,10414,78
770,Wofford College,Yes,1501,935,273,51,83,1059,34,12680,4150,605,1440,91,92,15.3,42,7875,75
771,Worcester Polytechnic Institute,Yes,2768,2314,682,49,86,2802,86,15884,5370,530,730,92,94,15.2,34,10774,82
772,Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [43]:
df3=df2[['Apps','Accept','Enroll','Top10perc','Top25perc','F.Undergrad','P.Undergrad','Outstate','Room.Board','Books','Personal','PhD','Terminal','S.F.Ratio','perc.alumni','Expend','Grad.Rate']]

In [45]:
df3.head()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [57]:
X2=df3

In [58]:
y2=df2['Private']

In [59]:
y2.head()

0    Yes
1    Yes
2    Yes
3    Yes
4    Yes
Name: Private, dtype: object

In [60]:
X_train2,X_test2,y_train2,y_test2=train_test_split(X2,y2,test_size=0.3,random_state=101)

In [67]:
#decision tree classifier

In [61]:
DecisionTree2=DecisionTreeClassifier()

In [62]:
DecisionTree2.fit(X_train2,y_train2)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [64]:
DecisionTree2_predictions=DecisionTree2.predict(X_test2)

In [66]:
print(classification_report(y_test2,DecisionTree2_predictions))

              precision    recall  f1-score   support

          No       0.82      0.79      0.81        58
         Yes       0.93      0.94      0.94       176

   micro avg       0.91      0.91      0.91       234
   macro avg       0.88      0.87      0.87       234
weighted avg       0.91      0.91      0.91       234

In [68]:
RandomForest2=RandomForestClassifier()

In [69]:
RandomForest2.fit(X_train2,y_train2)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [72]:
RandomForest2_predictions= RandomForest2.predict(X_test2)

In [74]:
print(classification_report(y_test2,RandomForest2_predictions))

              precision    recall  f1-score   support

          No       0.84      0.88      0.86        58
         Yes       0.96      0.94      0.95       176

   micro avg       0.93      0.93      0.93       234
   macro avg       0.90      0.91      0.90       234
weighted avg       0.93      0.93      0.93       234